<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="RestaurantConnection"
         connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=RestaurantDB;Integrated Security=True;TrustServerCertificate=True" />
  </connectionStrings>

  <appSettings>
    <add key="ReducereMeniu_x" value="10" />
    <add key="SumaMinimaDiscount_y" value="200" />
    <add key="NumarComenzi_z" value="5" />
    <add key="IntervalTimp_t" value="30" />
    <add key="ProcentDiscount_w" value="15" />
    <add key="SumaLimitaTransport_a" value="100" />
    <add key="CostTransport_b" value="15" />
    <add key="LimitaEpuizareStoc_c" value="5" />
  </appSettings>
</configuration>